/** Déclarations **/

/* Add box-sizing propertie to all elements*/

@font-face {
    font-family: "Raleway";
    src: url(Raleway-VariableFont_wght.ttf) format("truetype");
}

/*Do the fonts need to be all declarated, example Arial, Trebuchet and PatinCoufin?*/


/*Classes générales*/

.flexCentre
{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Classes générales*/


body
{
    font-family: "Raleway", "Arial", "Comic Sans MS", "Trebuchet MS", "sans-serif";
    margin: 5% 10%;
    width: 80%;
    min-width: 448px;
}

/*Header*/

#logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation
{
    margin-right: 30px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
}

h1
{
    font-size: 25px;
}

#search_block
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    border-radius: 10px;
}



#icon
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
}



#searchline
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}


#search
{
    width: 120px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#icon_glass
{
    display: none;
}

/*Filters*/

.filters{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.buttonFilters{
    display: flex;
    margin-left: 15px;
    border: 5px solid #F2F2F2;
    border-radius: 50px;
}
.buttonFilters i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 100%;
}
.buttonFilters button{
    height: 50px;
    background-color: red;
}


/*Responsive*/

@media screen and (max-width: 768px)
{
    #logo
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    #Booki
    {
        background-color: red;
    }

    #navigation
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #icon_glass
    {
        display: inline;
    }
}