/** Déclarations **/

*, ::before, ::after{
    box-sizing: border-box;
}
/* Ajouter border-box à tous les éléments*/

@font-face {
    font-family: "Raleway";
    src: url(Raleway-VariableFont_wght.ttf) format("truetype");
}

/*il faut déclarer toutes les polices, example Arial, Trebuchet et PatinCoufin?*/


/*Classes générales*/

.flexCentre/*est-ce que ça vaut le coup de créer des classes comme ceci?*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Classes générales*/


body
{
    font-family: "Raleway", "Arial", "Comic Sans MS", "Trebuchet MS", "sans-serif";
    margin: 0 10%;
    width: 80%;
    min-width: 448px;
}

/*Header*/

#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header nav{
    display: flex;
    height: inherit;

}
header nav div{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
header nav div:hover{
    border-top: 1px solid #0065FC;
}
header nav div a{
    text-decoration: none;
}
h1{
    font-size: 25px;
}
#barre_de_recherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    border-radius: 10px;
}
#icon{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
}
#location{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline:none;
    padding-left: 10px;
    border: #F2F2F2 2px solid;
}
#search{
    width: 120px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#icone_loupe{
    display: none;
}

/*Filters*/

.filtres{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bouttons{
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 50px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}
.bouttons i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
}
.bouttons button{
    border: none;
    background-color: white;/*il vaut mieux un <button> oun une <div>?*/
    margin: 0 15px;
}
.filtres div:hover{
    text-decoration: line-through;
}
header p{
    display: flex;
}
[class*="fa-info"]{
    color:#0065FC;
    width: 30px;
    height: 30px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
}

/*Hébergements à Marseille*/

.Hebergements_marseille{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 65%;
}
.Hebergements_marseille img{
    width: 150px;
    height: 90px;
}
.Hebergements_marseille article{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.Hebergements_marseille div{
    background-color: white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    margin: 5px;
}

/*Responsive*/

@media screen and (max-width: 768px)
{
    body{
        margin: 0 5%;
    }
    #logo
    {
        display:flex;
        flex-direction: column;
    }
    header h2{
        width: 100%;
    }

    #icone_loupe
    {
        display: inline;
        color: white;
    }
    .filters{
        display: flex;
        flex-direction: column;
    }
    .Hebergements_marseille article{
        display: flex;
        flex-direction: column;
    }
}