/** Déclarations **/

*, ::before, ::after{
    box-sizing: border-box;
}
/* Ajouter border-box à tous les éléments*/

@font-face {
    font-family: "Raleway";
    src: url(Raleway-VariableFont_wght.ttf) format("truetype");
}

/*il faut déclarer toutes les polices, example Arial, Trebuchet et PatinCoufin?*/


/*body*/

body
{
    font-family: "Raleway", "Arial", "Comic Sans MS", "Trebuchet MS", "sans-serif";
    min-width: 448px;
    max-width: 1440px;
}

/*Header*/

header{
    margin: 0 5%;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.header_logo_image{
    width: 70px;
    height: 60px;
}
header nav{
    display: flex;
    height: 50px;

}
header nav a{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
header nav a:hover{
    border-top: 1px solid #0065FC;
}

header h1{
    font-size: 25px;
}
.header_searchbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.header_searchbar_icon{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_searchbar_location{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline:none;
    padding-left: 10px;
    border: #F2F2F2 2px solid;
}
.header_searchbar_search{
    width: 120px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_searchbar_search a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.header__searchbar_iconGlass{
    display: none;
}

/*Filters*/

.header_filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header_buttons{
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 50px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}
.header_buttons i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
}
.header_buttons button{
    border: none;
    background-color: white;/*il vaut mieux un <button> oun une <div>?*/
    margin: 0 15px;
}
.header_filters div:hover{
    box-shadow: 6px 6px 4px royalblue;
}

/*infos*/

.header_info{
    display: flex;
    align-items: baseline;
}
.header_info_icon{
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
[class*="fa-info"]{
    color:#0065FC;
}


/*main*/
main{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}


/*Hébergements à Marseille*/

.main_hotelsMarseille h1{
    width: 100%;
}

.main_hotelsMarseille{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 30%;
}

.main_hotelsMarseille_card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px -6px 6px rgb(140, 143, 131);
    margin: 5px;
    width: 30%;
    height: auto;
    padding: 1%;
    padding-bottom: 5px;
    min-width: 200px;
}

.main_hotelsMarseille img{
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 125px;
    border-radius: 15px 15px 0 0;
}    

.main_hotelsMarseille_card p{
    padding-left: 5px;
    margin: 5px 0px;
}
[class*="fa-star"]{
    padding-left: 5px;
    color: #0065FC;
}
.main_hotelsMarseille>p{
    width: 100%;
    font-weight: bold;
}

/*les plus populaires*/
.main_populaires{
    flex: 1;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-left: 20px;
    height: 30%;
    padding-bottom: 20px;
}

.main_populaires h1{
    display: flex;
    justify-content: space-between;
}
.main_populaires>h1>[class*="fa-star"]{
    color: black;
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.main_populaires_card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px -6px 6px rgb(140, 143, 131);
    width: 370px;
    height: 30%;
    padding: 1%;
    margin: auto;
    margin-top: 5px;
}

.main_populaires_card img{
    object-fit: cover;
    object-position: center;
    width: 40%;
    height: 157px;
    border-radius: 15px 0 0 15px;
    float: left;
    margin-right: 5px;
}

.main_populaires_card figcaption{
    padding-top: 5px;
    padding-left: 5px;
}

.main_populaires_card p{
    padding-left: 5px;
}

.main_populaires_card [class*="fa-star"]{
    padding-top: 30px;
    padding-left: 5px;
}

/*activités*/

.main_activités div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 460px;
}

.main_activités_cardLarge{
    width: 300px;
    height: 460px;
    border-radius: 15px;
    box-shadow:0 0 20px #0000002e;
}

.main_activités_cardLarge img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 410px;
    border-radius: 15px 15px 0 0;
}

.main_activités_cardMedium{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 3px 3px black;
}

.main_activités_cardMedium img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 210px;
    border-radius: 15px 15px 0 0;
}

.main_activités_cardSmall{
    width: 300px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 3px 3px black;
}

.main_activités_cardSmall img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}


/*footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 150px;
}

footer article{
    padding: 0 10% 0 5%;
}

footer article ul{
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0; 
}

footer article ul li{
    padding: 5% 0;
}


/*classes générales*/
.backGrey{
    color: #DEEBFF;
}

figure{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

figcaption{
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.main_hotelsMarseille_card:hover, .main_populaires_card:hover{
    transform: scale(105%);
    transition: all 0.5s;
}


/*Responsive*/

@media screen and (max-width: 768px)
{
    /*body*/
    body{
        margin: 0;
        width: 100%;
    }

    /*header*/
    .header_text{
        padding: 0 5%;
    }
    .header_logo{
        display:flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    header nav{
        width: 100%;
    }
    header nav a{
        width:50%;
    }
    header nav a:hover{
        border-top: none;
        border-bottom: 1px solid #0065FC;
    }
    .header_searchbar_search{
        width: 50px;
    }
    .header_searchbar_search a{
        display: none;
    }
    .header__searchbar_iconGlass{
        display: inline;
        color: white;
    }
    .header_filters{
        padding: 0 5%;
    }
    header h2{
        width: 100%;
    }
    .header_buttons{
        margin-top: 7px;
    }
    .header_info{
        padding: 0 5%;
    }


    /*main*/
    main{
        display: flex;
        flex-direction: column;
    }
    .main_hotelsMarseille{
        width: 100%;
        order: 2;
        background-color: white;
    }
    .main_hotelsMarseille article :not([class*="fa-star"]) :not([class*="fa-euro-sign"]){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main_populaires{
        width: 100%;
        order: 1;
        margin: 0 0 15px 0;
        border-radius: 0%;
    }
    .main_activités{
        order: 3;
        width: 100%;
    }
}   